html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh; /* минимум — высота видимого экрана */
}

body {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../assets/images/background1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 60% center; /* сдвиг вправо */
}



.auth-container {
  max-width: 400px;
  margin: 60px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  position: relative; 
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-container form {
  display: flex;
  flex-direction: column;
}

.auth-container label {
  margin-bottom: 15px;
  font-weight: bold;
}

.auth-container input {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

.auth-container button {
  padding: 10px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
  width: 100%; 
  box-sizing: border-box;
}

.auth-container button:hover {
  background-color: #333;
}

.auth-message {
  margin-top: 15px;
  text-align: center; 
  color: rgb(0, 0, 0);
}

.auth-container p {
  text-align: center; 
  margin: 10px 0 0 0;
}

.back-home-button {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid #b1b1b1; 
  background-color: #000;
  color: #fff;
  font-weight: bold;
  z-index: 1000;
  transition: background-color 0.2s ease, border-color 0.2s ease;
  box-sizing: border-box;
  max-width: 120px;
  width: auto;
}

.back-home-button:hover {
  background-color: #222;
  border-color: #ccc; 
}
