@media (max-width: 419px) {
  
  h1 {
    font-size: 18px !important;
    margin-bottom: 10px !important;
  }

  h2 {
    font-size: 16px !important;
    margin-top: 10px !important;
  }

  label {
    font-size: 12px !important;
  }

  input[type="date"] {
    font-size: 12px !important;
    padding: 4px 6px !important;
    margin-right: 10px !important;
  }

  table {
    font-size: 11px !important;
  }

  table th, table td {
    padding: 1px;
  }

  .burger-menu {
    font-size: 18px !important;
  }
}
